/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}
.left {
  background-image: url("./images/image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.right form {
  width: 100%;
}
.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
}
.form-input input {
  border: none;
  border-left: 2px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.form-input input:focus {
  outline: none;
}
@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .social-icon {
    display: none;
  }
  .right {
    position: relative;
    top: -15px;
  }
}
